body {
  font-family: 'Poppins', sans-serif;
}

/* navbar  togler  (icon)*/
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.icon.menu-btn {
  display: none;
}

.icon.cancel-btn {
  display: none;
}

.margin {
  margin-top: 40px;
}

.nav-costum {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.nav-costum a.navbar-brand img {
  width: 160px;
}

.nav-costum .nav-link {
  margin-left: 20px;
  color: #fff !important;
}

.nav-costum .btn-icon {
  color: #aeaeae;
  font-size: 20px;
}

.nav-costum .btn-icon {
  margin-left: 25px;
}

.sticky {
  padding: 0;
  z-index: 9999;
  background: #fff;
}

.sticky ul .nav-item a.nav-link {
  color: #0f0e17 !important;
}

.sticky a.navbar-brand .logo-normal {
  width: 160px;
}

.sticky a.navbar-brand .logo-sticky {
  width: 160px;
}

.home .hero {
  position: relative;
  height: 80vh;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .hero::after {
  content: '';
  width: 100%;
  height: 80vh;
  position: absolute;
  display: block;
  top: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.137)),
    to(rgba(0, 0, 0, 0.822))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.137),
    rgba(0, 0, 0, 0.822)
  );
}

.home .title-hero {
  text-align: center;
  position: absolute;
  color: #fff;
  top: 25%;
  width: 100%;
}

.home .title-hero h1 {
  font-size: 52px;
  line-height: 80px;
  font-weight: 500;
  margin-bottom: 20px;
}

.home .title-hero h2 {
  font-size: 42px;
}

@media only screen and (max-width: 600px) {
  .home .title-hero h2 {
    font-size: 30px;
  }
}

.home .title-hero #element {
  color: red;
}

.home .transparent-button {
  padding: 10px 30px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 120%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.home .transparent-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.about {
  background-color: #fff;
  margin-top: 80px;
  position: relative;
}

.about h2 {
  font-weight: 600;
  color: #34364a;
  font-size: 32px;
  margin-bottom: 60px;
}

.about .content h3 {
  font-size: 18px;
  color: #34364a;
  font-weight: 500;
  line-height: 32px;
  font-style: italic;
}

.about .content h3::before {
  content: url(/images/quote-icon.svg);
  margin-right: 10px;
}

.about .content h3::after {
  content: url(/images/quote-icon.svg);
  margin-left: 10px;
}

.about .swiper {
  width: 600px;
  height: 450px;
}

.about img.img-profile {
  width: 50%;
}

.about img.titik-left {
  left: 0;
  bottom: -15px;
  position: absolute;
  width: 100px;
}

.about img.titik {
  right: 0;
  top: 0;
  position: absolute;
  width: 100px;
  margin-top: -80px;
}

.skils {
  margin-top: 20px;
  position: relative;
}

.skils::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: #e5e5f7;
  opacity: 0.5;
  background-image: radial-gradient(#444cf7 0.75px, transparent 0.75px),
    radial-gradient(#444cf7 0.75px, #e5e5f7 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.skils .paralax-skils {
  height: 50vh;
  position: relative;
  background-size: cover;
  background-image: url(/images/coding.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.skils .paralax-skils::after {
  content: '';
  width: 100%;
  height: 50vh;
  background-color: rgba(104, 104, 104, 0.205);
  display: block;
  top: 0;
  position: absolute;
}

.skils .title-skil {
  position: relative;
}

.skils .title-skil h2 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 0;
}

.skils .title-skil h2::before {
  content: '  Skils';
  font-size: 32px !important;
  letter-spacing: 20px;
  font-weight: 400;
  display: inline-block;
  padding: 10px 40px 10px 60px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 14px;
  background-color: rgba(25, 216, 250, 0.137);
  border-radius: 4px;
}

.skils .content-skils {
  margin-top: -80px;
}

.skils .content-skils img {
  width: 60px;
  margin-bottom: 10px;
}

.skils .content-skils .card-skil {
  border-radius: 0 15% 0 15%;
  text-align: center;
  margin-bottom: 20px;
}

.skils .content-skils .card-skil .title {
  color: #123049;
  font-size: 18px;
}

.skils .content-skils .card-skil .subtitle {
  margin-top: 10px;
  color: #7686ab;
}

.skils .content-skils .card-skil .subtitle span {
  font-weight: 500;
}

.services {
  margin-top: 70px;
}

.services .content {
  margin-top: 30px;
}

.services .content .logo {
  background-color: #3652f4bd;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px auto;
}

.services .content .logo i {
  margin: 10px auto;
  font-weight: 400;
  color: #e0e0e0;
}

.services .content .card {
  margin-bottom: 40px;
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
}

.services .content .card .title {
  font-size: 20px;
  font-weight: 400;
  color: #123049;
  margin-top: 20px;
}

.services .content .card .sub-title {
  font-size: 18px;
  color: #7686ab;
  margin-top: 10px;
}

.services .content .card:hover {
  -webkit-box-shadow: 0 15px 30px rgba(102, 113, 228, 0.5);
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

/* acordion-services */
.acordion-services {
  margin-top: 80px;
}

.acordion-services .accordion {
  margin-top: 30px;
}

.acordion-services .accordion .accordion-item button {
  color: #123049;
}

.acordion-services .accordion .accordion-item .accordion-body p {
  color: #7686ab;
}

.section-project {
  margin-top: 100px;
}

.section-project .project {
  margin-top: 50px;
}

.section-project .project .card-project {
  border-radius: 8px;
  margin-bottom: 50px;
  border: none;
  -webkit-box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
}

.section-project .project .card-project:hover {
  -webkit-box-shadow: 0 15px 30px rgba(102, 113, 228, 0.5);
  box-shadow: 0 15px 30px rgba(102, 113, 228, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.section-project .project .card-project .project-thumbnail {
  width: 100%;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.section-project .project .card-project .project-thumbnail:hover img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.section-project .project .card-project .project-thumbnail .img-project {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  height: 250px;
}

.section-project .project .card-body .title {
  color: #123049;
  font-size: 20px;
}

.section-project .project .card-body .subtitle {
  color: #7686ab;
  font-size: 16px;
  margin-top: 12px;
}

.main-contact {
  margin-top: 100px;
}

.main-contact .card-contact {
  margin-top: 50px;
  border: none;
  font-size: 16px;
}

.main-contact .card-contact .img-thumb {
  margin-bottom: 20px;
}

.main-contact .card-contact img {
  margin-right: 10px;
  width: 35px;
}

/* footer */
.card-footer {
  margin-top: 100px;
  background-color: #fffffe;
  color: #7686ab;
  font-weight: 400;
  font-size: 14px;
}

/* mobile */
@media (max-width: 772px) {
  .sticky {
    padding: 0;
    z-index: 9999;
    background: #0f0e17e3;
    color: #fffffe;
  }
  .sticky ul .nav-item a.nav-link {
    color: #ffffff !important;
  }
  .sticky a.navbar-brand img {
    width: 110px;
  }
  .sticky .icon-social {
    display: none !important;
  }
  .icon-social {
    display: none !important;
  }
  .icon-social .btn-icon {
    font-size: 18px;
    font-weight: lighter;
  }
  body.disabledScroll {
    overflow: hidden;
  }
  .icon.menu-btn {
    margin-right: 20px;
  }
  .icon.menu-btn.hide {
    display: none !important;
  }
  .icon.cancel-btn.hide {
    display: none !important;
  }
  /* icon navbar colapse */
  .icon.menu-btn {
    display: block;
  }
  .icon.cancel-btn {
    display: block;
    position: absolute;
    right: 30px;
    top: 60px;
    cursor: pointer;
  }
  nav.navbar {
    /* custom navbar sticky */
  }
  nav.navbar .btn-icon {
    margin-left: 12px;
  }
  nav.navbar .navbar-nav {
    position: fixed;
    top: 0px;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: #0f0e17bd;
    display: block;
    padding: 40px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  nav.navbar .navbar-nav a.nav-link {
    font-size: 18px;
    margin-top: 50px;
    font-weight: lighter;
  }
  nav.navbar .navbar-nav .active::after {
    content: '';
    display: block;
    position: absolute;
    left: 45.5%;
    width: 50px;
    height: 2px;
    background: #f2ad5f;
    border-radius: 27px;
    text-align: center !important;
  }
  nav.navbar .navbar-nav.active {
    left: 0%;
  }
  /* home */
  .home .hero {
    height: 90vh;
  }
  .home .hero::after {
    height: 90vh;
  }
  .home .title-hero {
    text-align: left;
    color: #f7f7f7;
    padding-left: 24px;
    position: absolute;
    top: 200px;
  }
  .home .title-hero h1 {
    font-size: 35px !important;
    line-height: 55px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .about img.img-profile {
    width: 70%;
  }
  .about img.titik-left,
  .about .titik {
    opacity: 0.4;
  }
  .about h3 {
    padding: 10px;
    font-size: 16px !important;
  }
  .about .con-about {
    padding: 10px;
    margin: 0;
  }
  .about .swiper-button-prev {
    margin-left: -10px;
  }
  .about .swiper-button-next {
    margin-right: -13px;
  }
  /* skils */
  .skils .title-skil {
    position: relative;
  }
  .skils .title-skil h2 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40%;
    width: 100%;
    margin: 0;
  }
  .skils .title-skil h2::before {
    content: 'Skils';
    font-size: 24px !important;
    letter-spacing: 20px;
    font-weight: 400;
    display: inline-block;
    padding: 10px 20px 10px 40px;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 14px;
    background-color: rgba(25, 216, 250, 0.137);
    border-radius: 4px;
  }
  .skils .content-skils img {
    width: 40px;
    margin-bottom: 20px;
  }
  .skils .content-skils img.figma {
    width: 30px;
  }
  .skils .content-skils .card-skil {
    text-align: center;
    margin-bottom: 20px;
  }
  .skils .content-skils .card-skil .title {
    color: #123049;
    font-size: 16px;
  }
  .skils .content-skils .card-skil .subtitle {
    margin-top: 10px;
    color: #7686ab;
    font-size: 14px;
  }
  .skils .content-skils .card-skil .subtitle span {
    font-weight: 500;
  }
  .services {
    margin-top: 50px;
  }
  .services .content .card .title {
    font-size: 18px;
    font-weight: 400;
    color: #123049;
    margin-top: 20px;
  }
  .services .content .card .sub-title {
    font-size: 16px;
    color: #7686ab;
    margin-top: 10px;
  }
  .card-footer {
    font-size: 12px;
  }
  .main-contact {
    margin-top: 100px;
  }
  .main-contact .card-contact {
    margin-top: 20px;
    border: none;
  }
  .main-contact .card-contact .img-thumb {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .main-contact .card-contact img {
    width: 25px;
  }
}
/*# sourceMappingURL=index.css.map */

.support-palestine,
.support-palestine:visited {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10000;
  text-decoration: none;
  font-family: arial;
}
.support-palestine:hover,
.support-palestine:active {
  background: black;
  display: flex;
  background: rgb(25, 25, 25);
  text-decoration: none;
}
.support-palestine__flag {
  margin-right: 10px;
}

.support-palestine__label {
  color: white;
  font-size: 12px;
  line-height: 24px;
  margin-right: 10px;
}
.background {
  background: darkgreen;

  height: 21px;
}
.top {
  background: black;
  width: 40px;
  height: 8px;
  z-index: 1;
}
.middle {
  background: white;
  width: 100%;
  height: 8px;
  z-index: 1;
}
.triangle {
  background: auto;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid red;
  z-index: 2;
  position: relative;
  top: -16px;
  left: 0;
}
