// global
body {
  font-family: "Poppins", sans-serif;
}
// navbar
.nav-costum {
  z-index: 1;

  a.navbar-brand {
    img {
      width: 160px;
    }
  }
  .nav-link {
    margin-left: 30px;
    color: #fff !important;
  }
  .btn-icon {
    color: #aeaeae;
    font-size: 20px;
  }
}

// home
.home {
  .hero {
    background-image: url(/images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin-top: -110px;
    position: relative;
  }
  .hero::after {
    content: "";
    width: 100%;
    height: 80vh;
    position: absolute;
    display: block;
    top: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.507),
      rgba(0, 0, 0, 0.384)
    );
  }
  .title-hero {
    text-align: center;
    position: absolute;
    color: #fff;
    top: 25%;
    width: 100%;
    h1 {
      font-size: 60px;
      line-height: 80px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  // transparent button
  .transparent-button {
    padding: 10px 30px;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
    }
  }
}

// about
.about {
  background-color: #fff;
  margin-top: 80px;
  position: relative;
  h2 {
    font-weight: 600;
    color: #34364a;
    font-size: 32px;
    margin-bottom: 60px;
  }

  .content h3 {
    font-size: 18px;
    color: #34364a;
    font-weight: 500;
    line-height: 32px;
    font-style: italic;
    &::before {
      content: url(/images/quote-icon.svg);
      margin-right: 10px;
    }
    &::after {
      content: url(/images/quote-icon.svg);
      margin-left: 10px;
    }
  }
  // swiper
  .swiper {
    width: 600px;
    height: 450px;
  }

  img.img-profile {
    width: 50%;
  }
  img.titik-left {
    left: 0;
    bottom: -15px;
    position: absolute;
    width: 100px;
  }
  img.titik {
    right: 0;
    top: 0;
    position: absolute;
    width: 100px;
    margin-top: -80px;
  }
}

// skils
.skils {
  margin-top: 20px;
  position: relative;

  .hero-title {
    height: 40vh;
    background-image: url(/images/coding.jpg);
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  }
  .hero-title::after {
    content: "";
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.349);
    display: block;
    top: 0;
    position: absolute;
  }
  h2 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 13%;
    width: 100%;
    margin: 0;
  }
  .content-skils {
    height: 100vh;
  }
}
/* mobile */
@media (max-width: 576px) {
  .home {
    .title-hero {
      text-align: left;
      h1 {
        font-size: 35px !important;
        line-height: 55px;
        font-weight: 500;
        margin-bottom: 30px;
      }
      color: rgb(247, 247, 247);
      padding-left: 24px;
      position: absolute;
      top: 200px;
    }
  }

  // about
  .about {
    img.img-profile {
      width: 100%;
    }
    img.titik-left,
    .titik {
      opacity: 0.4;
    }
    h3 {
      padding: 10px;
    }
    .con-about {
      padding: 10px;
      margin: 0;
    }
    .swiper-button-prev {
      margin-left: -10px;
    }
    .swiper-button-next {
      margin-right: -13px;
    }
  }
}
